body {
  background-color: black;
  margin: 0;
  padding: 0;
}

canvas {
  position: fixed;
  z-index: -1;
  cursor: crosshair;
  image-rendering: pixelated;
  display: block;
  height: calc(100% - 64px);
}

.control-panel {
  position: fixed;
  bottom:0;
  width: 100%;

  /* background-color: rgba(148, 42, 42, 0.8); */
  /* border-radius: 0px 0px 10px 10px; */

  display: flex;
  /* justify-content: space-around; */
  justify-content: center;
  /* align-items: center; */
  padding: 5px;
  /* flex-direction: column; */
  flex-direction: row;
  transition: transform 0.3s ease-in-out;
}

.control-panel.collapsed {
  transform: translateY(-75%);
}

button {
  /* padding: 10px 20px; */
  /* font-size: 16px; */
  cursor: pointer;
  border: none;
  /* border-radius: 5px; */
  margin: 3px;
  transition: background-color 0.3s ease, color 0.3s ease;
  background-color: #333;
  color: white;

  padding: 10px;
  font-size: 16px;
}

button:active {
  background-color: #555;
  /* Darker color when the button is pressed */
}