 #cw {
   position: fixed;
   z-index: -1;
   cursor: crosshair;
   image-rendering: pixelated;
 }

 body {
  margin: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

canvas {
  flex: 1;
  display: block;
}

.control-panel {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap; /* Allow buttons to move onto a new row if not enough space */
  justify-content: flex-end; /* Align buttons to the right initially */
  background-color: rgba(0, 0, 0, 0.8); /* Dark and transparent background */
  padding: 20px;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  margin: 5px; /* Adjust the margin as needed */
  transition: background-color 0.3s ease, color 0.3s ease;
  background-color: #333; /* Dark button background */
  color: white; /* Text color */
}

button:active {
  background-color: #555; /* Darker color when the button is pressed */
}


@media (max-width: 600px) {
  .control-panel {
    justify-content: flex-start; /* Align buttons to the left on smaller screens */
  }
}