body {
  background-color: black;
  margin: 0;
  padding: 0;
}

#canvasBot {
  top: calc(0.333 * (100% - 64px));
  position: fixed;
  z-index: -1;
  cursor: crosshair;
  image-rendering: pixelated;
  display: block;
  height: calc(0.666 * (100% - 64px));
}

#canvasTop {
  position: fixed;
  z-index: -1;
  cursor: crosshair;
  image-rendering: pixelated;
  display: block;
  height: calc(0.333 * (100% - 64px));
}

.control-panel {
  position: fixed;
  bottom:0;
  width: 100%;

  display: flex;

  /* justify-content: space-around; */
  /* justify-content: left; */
  align-items: center;

  padding: 5px;
  /* flex-direction: column; */
  flex-direction: row;
  /* transition: transform 0.3s ease-in-out; */
}
.control-panel-right{
  position: fixed;
  bottom:0;
  width: 100%;

  /* background-color: rgba(148, 42, 42, 0.8); */
  /* border-radius: 0px 0px 10px 10px; */

  display: flex;
  /* justify-content: space-around; */
  justify-content: right;
  /* align-items: center; */
  padding: 5px 5px 5px 5px ; 
  /* flex-direction: column; */
  flex-direction: row;
  /* transition: transform 0.3s ease-in-out; */
}


.control-panel.collapsed {
  transform: translateY(-75%);
}

button {

  cursor: pointer;
  border: none;

  margin: 3px;
  transition: background-color 0.3s ease, color 0.3s ease;
  background-color: #333;
  color: white;

  padding: 10px;
  font-size: 16px;
}

#flipBtn{
  display: none;
}


.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}